<!-- Navbar start -->
<div class="container-fluid transparente px-0">
    <div class="container-fluid" id="barra-menu">
        <div class="container px-0">
            <nav class="navbar navbar-light navbar-expand-xl">
                <a href="/" class="navbar-brand mt-3">
                    <p class="text-white display-6 mb-3" style="line-height: 0;">Serra da Saudade</p>
                    <small class="fw-normal text-white">Prefeitura Municipal</small>
                </a>
                <button class="navbar-toggler py-2 px-3" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarCollapse">
                    <span class="fa fa-bars text-white"></span>
                </button>
                <div class="collapse navbar-collapse  py-3" id="navbarCollapse">
                    <div class="navbar-nav mx-auto border-top">
                        <a href="/" class="nav-item nav-link">Home</a>
                        <a href="/noticias" class="nav-item nav-link">Notícias</a>
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">A cidade</a>
                            <div class="dropdown-menu m-0 bg-secondary rounded-0">
                                <a href="/historia" class="dropdown-item">História da Cidade</a>
                                <a href="docs/bensProtegidos.pdf" class="dropdown-item">Bens Protegidos</a>
                                <a href="/captacao" class="dropdown-item">Captação de Recursos</a>
                                <a href="/festas" class="dropdown-item">Festas</a>
                            </div>
                        </div>
                        <a href="/contact" class="nav-item nav-link">Contact Us</a>
                        <a href="/admin/login" class="nav-item nav-link">Área Restrita</a>
                    </div>

                </div>
            </nav>
        </div>
    </div>
</div>
<!-- Navbar End -->