<%-include('./partials/header.ejs')%>

    <body>

        <!-- Spinner Start -->
        <div id="spinner"
            class="show w-100 vh-100 bg-white position-fixed translate-middle top-50 start-50  d-flex align-items-center justify-content-center">
            <div class="spinner-grow text-primary" role="status"></div>
        </div>
        <!-- Spinner End -->

        <%-include('./partials/navbar.ejs')%>

            <!-- Noticia Start -->
            <div class="container-fluid py-2">
                <div class="container py-2">
                    <div class="row g-4">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="text-center">CAPTAÇÃO DE RECURSOS</h3>
                                </div>
                                <div class="card-body">
                                    <div class="position-relative rounded overflow-hidden mb-3">
                                        <img src="img/aerea2.png" class="img-zoomin img-fluid rounded w-100" alt="">
                                    </div>
                                    <div>
                                        <p><strong>Meio Ambiente</strong></p>
                                        <p>Serra da Saudade participa do Programa de Recuperção de bacias
                                                hidrográficas da Copasa - a Companhia de Saneamento de Minas Gerais,
                                                cujo
                                                objetivo é proteger e recuperar as microbacias hidrográfcias e as áreas
                                                de
                                                recarga de mananciais que servem de captação dos sistemas de
                                                abastecimento
                                                público de água operados pela Copasa. Várias ações foram desenvolvidas
                                                ao
                                                longo do programa e continuam beneficiando os proprietários de terras
                                                que
                                                querem proteger seus mananciais.</p>
                                        <p><br>&nbsp;Vários projetos foram implementados como o ECOCEMEI -
                                                plantio
                                                de mudas; &nbsp;construção de barraginhas, pomar na Escola Luís Machado
                                                Filho, entre outros.</p>
                                        <p><strong>Tudo começou em 2003...</strong></p>
                                        <p><strong></strong>Um dos recursos importantes que a Prefeitura de Serra da
                                            Saudade
                                            conseguiu foi na área ambiental. Em meados de 2003, Dagmar Gontijo assumiu a
                                            coordenação ambiental e uma de suas ações foi a criação do Horto Florestal
                                            com
                                            capacidade de 25 mil mudas, para a preservação de várias espécies nativas da
                                            região.</p>
                                        <p data-empty="true">A implantação do projeto de proteção às nascentes e Matas
                                            Ciliares, e proteção ao principal rio do município, o rio Indaiá, e sua
                                            bacia
                                            hidrográfica.</p>
                                        <p>Outras ações foram desenvolvidas durante esses anos, com plantio de mudas de
                                            árvores no Bairro São Geraldo e em alguns pontos da cidade.</p>
                                        <p data-empty="true"><strong>Patrimônio Histórico e Cultural</strong></p>
                                        <p data-empty="true">A administração anterior começou e a atual continua dando
                                            ênfase à captação de recursos. Outra área beneficiada com recursos foi a do
                                            Patrimonio Histórico e Cultural, por meio da Lei Hoobin Hood, cuja verba se
                                            destina ao patrimônio histórico cultural, principalmente, para os bens já
                                            tombados pela entidade: a igreja Matriz Nossa Senhora do Carmo, a antiga
                                            estação
                                            ferroviária "Barra do Funchal", a casa da fazenda Sobrado, fazenda Riacho da
                                            Luza, túneis, casa da Fazenda Brejão, &nbsp;prédio da primeira Escola do
                                            Arraial
                                            de Melo Viana, prédio da Antiga Estação Ferroviária, casa da antiga Pensão
                                            da
                                            Barra do Funchal. ponte da estação da Barra do Funchal, prédio da antiga
                                            Prefeitura de Serra da Saudade.</p>
                                        <p>Muitas ações já foram realizadas pelo patrimonio cultural: veja na pagina os
                                            bens
                                            tombados, inventariados e registrados.</p>
                                        <p data-empty="true">Atualmente, algumas ações estão em desenvolvimento para dar
                                            continuidade aos projetos como divulgação, conscientização e mobilização da
                                            comunidade por meio de panfletos, palestras e debates para o estabelecimento
                                            da
                                            parceria nas ações, implantação na rede escolar de programas culturais,
                                            utilizando murais, pesquisas, redações, excursões e exposições, sendo que
                                            todas
                                            as ações terão apoio da prefeitura municipal de Serra da Saudade.</p>
                                        <p data-empty="true">Serra da Saudade também está implantando a ETE - Estação de
                                            Tratamento de Esgoto. A COPASA venceu a licitação e está implementando o
                                            projeto
                                            na cidade. Isso vai permitir a volta da limpeza do córrego São Geraldo, que
                                            corre dentro da cidade, bem como seus afluentes.</p>
                                        <p data-empty="true"><br></p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- noticia end -->

                <!-- Back to Top -->
                <a href="#" class="btn btn-success border-2 border-white rounded-circle back-to-top"><i
                        class="fa fa-arrow-up"></i></a>


                <!-- JavaScript Libraries -->
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
                <script src="lib/easing/easing.min.js"></script>
                <script src="lib/waypoints/waypoints.min.js"></script>
                <script src="lib/owlcarousel/owl.carousel.min.js"></script>

                <!-- Template Javascript -->
                <script src="js/main.js"></script>
    </body>

    </html>